<div class="container">
    <div class="row">

        <div class="col mt-5">
            <h1 class="title-403 text-center mt-5">403</h1>
            <p class="h2 text-center text-secondary mt-2">Prohibido</p>
            <p class="h6 text-center text-secondary mt-2">Se ha negado el acceso a este recurso en el servidor.</p>
            <div class="col mt-5">
                <button class="btn btn-blue btn-block mt-3" (click)="goBack()">Regresar</button>
                <div class="container text-center">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_backspace</mat-icon>
                </div>
            </div>
        </div>   
    </div>
</div>
